<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Define your beans here -->
	
	<bean id="happyFortuneService" class="p1.HappyFortuneService"></bean>

	<bean id="baseballCoach" class="p1.BaseballCoach" scope="singleton">
	<constructor-arg ref="happyFortuneService"></constructor-arg>
	</bean>
	
	<bean id="cricketCoachFortune" class="p1.CricketFortune"></bean>
	
	
	<bean id="cricketCoach" class="p1.CricketCoach" 
	scope="singleton"
	init-method="initMethod" destroy-method="destroyMethod">
	<constructor-arg ref ="cricketCoachFortune"></constructor-arg>
	</bean>

	<!-- define the dependency -->


</beans>





